<div class="instruction">
  In this widget you need to insert a registration number into the input box, when you click add it will be added to the list of registration numbers if it is from a relevent town.
  When you want to view the registration numbers from a specific town you can select a radio button for that town and click the show button.
</div>

<div>
<h1>Registration Web Application</h1>

<span id="tooShort">{{this.tooShort}}</span>
<span id="tooLong">{{this.tooLong}}</span>
<span id="message">{{this.message}}</span>
<span id="specCharMsg">{{this.specCharMsg}}</span>


<form action="/regnumbers" method="POST">
<div class="input">
   <input type="text" name="reg" placeholder="enter a registration here" required>
    <span class="spacing"></span>
   <button class="erase">Add</button>
</div>

<span id="invalidErrMsg">{{this.invalidErrMsg}}</span>

</form>

<form action="/filter" method="POST">
  <div class="radio">
   <input id="cpt" type="radio" name="town" value="CA" class="radioFont">
   <label for="cpt" class="radioFont">Cape Town(CA)</label>
    <span class="spacing"></span>

   <input id="p" type="radio" name="town" value="CJ" class="radioFont">
   <label for="p" class="radioFont">Paarl(CJ)</label>
    <span class="spacing"></span>

   <input id="w" type="radio" name="town" value="CW" class="radioFont">
   <label for="w" class="radioFont">Worcester(CW)</label>
    <span class="spacing"></span>

   <input id="s" type="radio" name="town" value="CL" class="radioFont">
   <label for="s" class="radioFont">Stellenbosch(CL)</label>
    <span class="spacing"></span>

   <button class="erase">Show</button> 
</div>
</form>

<div  class="registration-grid">
{{#each regNumbers}}
<div class="registration">
  <tr>
    <td>
      <p>{{this.registration_number}}</p>
    </td>
  </tr>
</div>
{{/each}}
</div>


<p id="noTowns">{{feedback}}</p>

<div  class="registration-grid">

{{#each filteredTown.regNumbers}}
<div class="registration">
  <tr>
    <td>
      <p>{{this.registration_number}}</p>
    </td>
  </tr>
</div>
{{/each}}
</div>

<form action="/clearing" method="POST" >
      <button type="submit" class="erase">Clear</button>
</form>

<p id="clearmsg">{{this.clrMsg}}</p>
</div>