<h1>Registration Web Application</h1>

<span id="tooShort">{{this.tooShort}}</span>
<span id="tooLong">{{this.tooLong}}</span>
<span id="message">{{this.message}}</span>

<form action="/regnumbers" method="POST">
<div class="input">
   <input type="text" name="reg" placeholder="enter a registration here">
   <button>Add</button>
</div>

<span id="invalidErrMsg">{{this.invalidErrMsg}}</span>

</form>


<form action="/filter" method="POST">
  <div class="radio">
   <input type="radio" name="town" value="CA">
   <span>Cape Town</span>
   <input type="radio" name="town" value="CJ">
   <span>Paarl</span>
   <input type="radio" name="town" value="CW">
   <span>Worcester</span>
   <input type="radio" name="town" value="CL">
   <span>Stellenbosch</span>
   <button>Show</button> 
</div>
</form>

 
<div  class="registration-grid">
{{#each regNumbers}}
<div class="registration">
  <tr>
    <td>
      <p>{{this.registration_number}}</p>
    </td>
  </tr>
</div>
{{/each}}
</div>

<div  class="registration-grid">
{{#each filteredTown}}
<div class="registration">
  <tr>
    <td>
      <p>{{this.registration_number}}</p>
    </td>
  </tr>
</div>
{{/each}}
</div>

<form action="/clearing" method="POST">
      <button type="submit" class="erase">Clear</button>
</form>

<p>{{this.clrMsg}}</p>